/* Written by Finn M. */

p, td, th, button, h1{
    color: rgb(255, 136, 136);
}

table, td, th{
    overflow: auto;
}

table{
	border: 2px solid rgb(0, 0, 0);
	border-collapse: collapse;
	text-align: center;
    margin: auto;
    background-color: rgb(156, 55, 41);
    position:fixed;
    right: 0;
    width: 50%;
}

td, th {
	border: 2px solid rgb(0, 0, 0);
	border-collapse: collapse;
    padding: 2px;
}

body {
    background-color: rgb(99, 34, 34);
}

img {
    width: 15%;
}

.button1, .button2, .button3 {
    background-color: rgb(156, 55, 41);
    padding: 14px 0px;
    cursor: crosshair;
    border: none;
    text-align: center;
    border: none;
    position: fixed;
    left: 0;
    width: 5%;
}

.writeup {
    text-align: center;
    font-size: 85%;
    background-color: rgb(83, 29, 22);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border: 2px solid black;
}

#target1, #target2, #target3 {
    width: 100%;
}